*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow:hidden;
}

.heading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    top:30%;
    position:absolute;
   left:20%;
  
}
.enter{
    padding:30px;
    
}
.enter input {
    padding: 8px 195px;

}
.enter .add{
    padding:8px 8px;
    background-color: rgb(213, 242, 239);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add:hover{
    background-color: rgb(185, 235, 235);
}
.add:visited{
    background-color: rgb(101, 101, 238);
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}